.container.index-meal
  .row
    .col-sm-12
      %h3 List of meals eaten on:
      %span= params[:eaten_on]
    .col-xs-12
      %table.table.table-striped
        %tr.success
          %th{:scope => "col"} Name:
          %th{:scope => "col"} Meal type:
          %th{:scope => "col"} Calories:
        - @meals.each do |meal|
          %tr
            %td= link_to meal.name, meal_path(meal)
            %td= meal.meal_type
            %td= meal.calories
