.activity-index {
  span > a {
    text-decoration: none;
    color: #F5B872;
    font-size: 19px;
  }
  a:hover {
    color: #212529;
  }
  td > a {
    text-decoration: none;
    color: #F5B872;
  }
}
.show-activity {
  a {
   text-decoration: none;
   color: #F5B872;
 }
 a:hover {
   text-decoration: none;
   color: #212529;
 }
 .delete {
   float: right;
 }
}
