.navbar {
  background-color: #F5B872;
  .dropdown-menu{
    border: none;
    a {
      text-decoration: none;
      color: #9FA0A5;
    }
  }
}

.links {
  text-align: center;
  // padding: 20px 10px;
  .img-circle {
    border-radius: 50%;
  }
  .name_category > a {
    color: #808080;
    font-weight: bold;
    text-decoration: none;
  }
  a:hover {
    color: #FF6328;
  }
}
.calories {
  font-size: 25px;
  color: #FBC44D;
  text-align: center;
  h4 {
    color: #808080;
  }
}
