.navbar-expand-lg {
  a {
    color: #7C7C7D;
  }
  a:hover {
    color: #FF6328;
    text-decoration: none;
  }

}
.time {
  text-align: center;
}
.date {
  text-align: center;
  h2 {
    color: #7C7C7D;
  }
}

.links {
  text-align: center;
  .img-circle {
    border-radius: 50%;
  }
  .name_category > a {
    color: #808080;
    font-weight: bold;
    text-decoration: none;
  }
  a:hover {
    color: #FF6328;
  }
}
.calories {
  font-size: 25px;
  color: #FBC44D;
  text-align: center;
  h4 {
    color: #808080;
  }
}
